@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
canvas {
  display: block;
}

button{
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  border: none;
  background-color : rgba(255, 255, 255, 1);
  width: 150px;
  height: 100px;
}
